@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

body {
  background-color: #fff;
  height: 100vh;
  margin: 0;
}

.content {
  text-align: center;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 200;
}